<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Async JS- Fetch</title>

    <style>

    </style>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <h1>Github Users:</h1>
    
            <ul id="user-list">
                <li v-for="username in users">
                    {{ username }}
                    <button @click="loadUserAvatar(username)">Load Avatar</button>
                </li>
            </ul>
        </div>
    
        <div v-if="userAvatar">
            <h2>User Avatar:</h2>
                
            <img 
                alt="John Doe"
                class="user-avatar"
                :src="userAvatar"
            />
        </div>

    </div>
    

    <script src="main.js">
        
    </script>
    
</body>
</html>