* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282828;
  color: white;
  padding-top: 20px;
}

h1 {
  text-align: center;
}

#my-form {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  gap: 1px;
}

#name-input {
  outline: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}

.check-adult-container {
  text-align: center;
  padding: 5px 0;
  margin-left: 40px;
  margin-top: 5px;
}

#submit-btn,
.print-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #026721;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 5px 5px;
  cursor: pointer;
  margin-top: 50px;
}

#submit-btn {
  margin: 5px 0;
}

.adult-span-container {
  width: 300px;
  position: relative;
  left: 50%;
  top: 40px;
  transform: translate(-50%);
  text-align: right;
}

.adult-span {
  font-weight: bold;
}

.list-names {
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  flex-direction: column;
  width: 300px;
  margin-top: 50px;
}

.name-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  margin-bottom: 5px;
  
}

.remove-button {
  background-color: #9f1d00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.name-link {
  text-decoration: none;
  color: white;
}

.adult-img {
  padding-right: 10px;
}